body {
  font-family: 游ゴシック;  
  margin: 0;
  padding: 0;
}

header {
  /* position: relative; 
  top: 0;
  left: 0; */
  width: 100%;
  height: 100px;  
}

#logo-bbb {
  width: 100px; 
  height: 56px;
  margin-top: 30px;
  margin-left: 40px;
}

#logo-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  /* ↓メインビジュアルの画像の上に重なるように */
  z-index: 30;
}



#nav-menu { 
  background-color: #ff2a2a;
  position: fixed;
    right: 0;
    top: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  z-index: 100;
  }  

#logo-BBB-white {
  width: 100px; 
  height: 56px;
  position: fixed;
  top: 30px;
  left: 40px;
}

/* ☓マークのロゴ */
#close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 70px;  
}

#box_menu {
  width: 100%;
  height: 400px;
  display: block;
}

#menu {
  display: block;
  list-style: none;
  color: white;
  text-align: center;
  padding: 0;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  font-family: "游ゴシック";
  font-size: 25px;
  font-weight: bold;  
}

.menu-list {
  margin: 7px;
}

.menu-list > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.6px;
}

#link_to_top {
  width: 220px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1.6px;
  font-size: 16px;
  font-weight: bolder;
  padding: 15px;
  display: block;  
  border: solid 1px #ffffff;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  /* 1つ下のabsoluteに対応 */
  position: relative;
}

#link_to_top::before {
  width: 220px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1.6px;
  font-size: 16px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*　↓の数行は、1つ上のmenu > aのcssに追加したプロパティ */
  content: "";  
  position: absolute;
  top: 6px;
  bottom: -6px;
  right: -6px;
  left: 6px;
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  z-index: -1;  /*←← menu > aの下に重ねるため */
}

/*hover状態で「無料体験に申し込む」が赤に */
 #link_to_top:hover {
  color: #ff2a2a;
  background-color: #ffffff; 
  border: solid 3px #ff2a2a;  
  }




/* ここからmain */

#section-1 {
  position: relative;
  height:720px;  
  margin-bottom: 120px;
}

#main-message {
position: absolute;
top: 220px;
left: 120px;
width: 620px;
height: 500px;
z-index: 13;
}

#main-message > h2 {
  font-size: 45px;
  text-shadow: 4px 4px 6px #ffffff;
}

#free-lesson {  
  width: 420px;
  font-size: 20px;
  padding: 3px;
  text-align: center;
  background-color: #ff2a2a; 
  color: #ffffff; 
  border-radius: 20px;
  box-shadow: 0px 7px 0px rgb(154, 49, 49);
  text-shadow: none;
}

/*hover状態で「無料体験はこちら」を拡大 */
#free-lesson:hover {
  transform: scale(1.05); /* 拡大 */
  transition: 0.4s; /* 変化の速度 */
}

/*hoverしてないと「無料体験はこちら」が縮む
  transform除いただけ */
#free-lesson {
 transition: 0.4s; /* 変化の速度 */
}

#free-lesson > a {
  text-decoration: none;
}

#first-div {   
   display: inline-block; 
   color: #ffffff;
   width: 280px;   
}

#second-div {   
  display: inline-block; 
  color: #ffffff;
  width: 70px;  
}

/* 画像の枠をぼかす（ここから） */
.visual-container {
	position: absolute;
  top: 0;
  right: 0;
	width: 75%;  
  height: 720px;
  overflow: hidden;
	} 

.visual-container::after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  /* box-shadow: inset X(↓方向) Y(→方向) ぼかし 拡張 色; */
	box-shadow: inset 0 0 30px 30px #ffffff;
  /* box-shadow: inset X(↑方向) Y(←方向) ぼかし 拡張 色; */
  box-shadow: inset 0 0 30px 30px #ffffff;
  /*　↓ .visual-containerの上に重ねるための措置 */
  z-index: 12;	 
}
/* 画像の枠をぼかす （ここまで）*/

/* 画像切り替え フェード（ここから）。複雑なので、よくサイトを読む 
https://1-notes.com/css-replace-images-automatically-animation/
https://loglogme.com/news/news-1439/　　*/
.image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;  
  height: 720px;
  z-index: 11;
  opacity: 0;
  /* ↓　15sは、切り替え間隔（5秒）× 画像の枚数（3枚） */
  animation: change-img-anim 15s infinite;
}

.image:nth-of-type(1) {
	animation-delay: 0s;
}
.image:nth-of-type(2) {
	animation-delay: 5s;
}
.image:nth-of-type(3) {
	animation-delay: 10s;
}

/* 「keyframesの枚数別パーセンテージ」をコピペ */
@keyframes change-img-anim {
	0%{ opacity: 0;}
	20%{ opacity: 1;}
  33%{ opacity: 1;}
	63%{ opacity: 0;}
	100%{ opacity: 0;}
}
/* 画像切り替え フェード（ここまで） */

#section-2 {
  position: relative;  
  height: 756px;
  margin-bottom: 120px;
}

.section-title {  
  width: 860px;   
  font-size: 35px;  
  text-align: center; 
  /* ↓marginのtopに100pxを指定しても、親であるsectionの中に100pxが追加されず、
      sectionの外に100pxが突き出るように追加される。 詳しくは↓のurl。
      https://natsukimemo.com/css-margin-top-bottom*/
  margin: 0 auto 100px auto; 
}

.border-span {
  padding-bottom: 25px;
  border-bottom: solid 3px black;  
}

#red-background {
  background-color: #ff2a2a;
  margin: 0;  
  width: 100%;
  height: 600px;
  position: relative;
}

/* オンライン対応 */
#white-background-1 {
  position: absolute;
    top: 75px;
    left: 0;
  width: 50%;
  height: 200px;
  background-color:#ffffff;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;  
  /* フェードイン（左から出てくるように） */
  opacity: 0;
  visibility: hidden;
  transform: translateX(-80px);
  transition: opacity 0.5s,visibility 0.5s, transform 0.5s;
}

/* フェードイン（左から出てくるように） */
#white-background-1.inview {
  opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

#icon-pc {
  width: 85px;
  height: 60px;
  margin: 70px 0px 70px 50px;  
}

#icon-pc-right {
  width: 300px;
  height: 60px;  
  margin: 60px 0px 70px 30px;
}

.icon-right-1 {
  color:#ff2a2a;
  font-size: 28px;
  font-weight: bold;
  font-family: 游ゴシック;
}

.icon-right-2 {
  color:black;
  font-size:20px;
}

/* 講師はネイティブ */
#white-background-2 {
  position: absolute;
    bottom: 75px;
    right: 0;
  width: 50%;
  height: 200px;
  background-color:#ffffff;
  border-radius: 20px 0 0 20px;
  display: flex;
  justify-content: center;    
  /* フェードイン（右から出てくるように） */
  opacity: 0;
  visibility: hidden;
  transform: translateX(80px);
  transition: opacity 0.5s,visibility 0.5s, transform 0.5s;
}

/* フェードイン（右から出てくるように） */
#white-background-2.inview {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

#icon-teacher {
  width: 50px;
  height: 60px;
  margin: 70px 0px 70px 50px;  
}

#icon-teacher-right {
  width: 350px;
  height: 60px;  
  margin: 60px 0px 70px 30px;
}

/* 受験生の声 */
#section-3 {
  width: 100%;
  height: 770px;
  margin-bottom: 120px;
}

/* 受講生の声1 */
#voice01 {
  width: 820px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  display: flex;
  justify-content: flex-start; 
  /* background-color: yellow; */

  /* 拡大しながらフェードイン */
  transform: scale(.8);
  opacity: 0;
}

/* 拡大しながらフェードイン */
#voice01.inview {
   transform: scale(1);
   transition: .2s linear .2s;
   opacity: 1;
  }

#voice01-child01 {
  /* background-color: pink; */
  width: 120px;
  height: 170px;
}

#student01-img {
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius:50%;
}

.introduction {
  font-size: 12px;
  text-align: center;
}

/* 吹き出し1 */
#voice01-child02 {
  position: relative;
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 15px 15px;
  width: 480px;
  height: 115px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px
}

#voice01-child02:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: 15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

#voice01-child02 p {
  margin: 5px;
  padding: 1px;
}


/* 受講生の声2 */
#voice02 {
  width: 820px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  display: flex;
  justify-content: flex-end; 
  /* background-color: yellow; */

  /* 拡大しながらフェードイン */
  transform: scale(.8);
  opacity: 0;
}

/* 拡大しながらフェードイン */
#voice02.inview {
   transform: scale(1);
   transition: .2s linear .2s;
   opacity: 1;
  }

  
/* 吹き出し2 */
#voice02-child01 {
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 15px 15px;
  width: 480px;
  height: 115px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px
}

#voice02-child01:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: 15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

#voice02-child01 p {
  margin: 5px;
  padding: 1px;
}

#voice02-child02 {
  /* background-color: pink; */
  width: 120px;
  height: 170px;
}

#student02-img {
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius:50%;
}

.introduction {
  font-size: 12px;
  text-align: center;
}


/* 受講生の声3 */
#voice03 {
  width: 820px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start; 
  /* background-color: yellow; */

  /* 拡大しながらフェードイン */
  transform: scale(.8);
  opacity: 0;
}

/* 拡大しながらフェードイン */
#voice03.inview {
   transform: scale(1);
   transition: .2s linear .2s;
   opacity: 1;
  }

#voice03-child01 {
  /* background-color: pink; */
  width: 120px;
  height: 170px;
}

#student03-img {
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius:50%;
}

.introduction {
  font-size: 12px;
  text-align: center;
}

/* 吹き出し3 */
#voice03-child02 {
  position: relative;
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 15px 15px;
  width: 480px;
  height: 115px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px
}

#voice03-child02:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: 15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

#voice03-child02 p {
  margin: 5px;
  padding: 1px;
}

/* スクールの概要 */

/* 背景が斜めに動いてるとこ（ここから） */
#section-4 {  
  width: 100%;
  height: 885px;
  margin-bottom: 120px;
  /* ↓3行で背景画像を斜動かすアニメーション */
  background-image: url(/images/bg.gif); /* image url*/
  background-size: 700px 700px; /* image size */
  animation: bg   10s  infinite    linear  reverse; 
  /* ↑は各々/名前/秒数/ループの回数/進行度　/アニメーションの向き */  
}

/* ↑animationの名前bgを↓keyframesの直後に書き、一致させる */
@keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 700px -700px;
  }
}
/* 背景が斜めに動いてるとこ（ここまで） */

#space {
  height: 60px;
}

.wrapper {
 width: 980px;
 height: 285px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 36px;
 display: flex;
 justify-content: center;
 
}

.title-contents {
  display: inline-block;
  width: 320px;
  height: 185px;
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  margin: 0 18px;
  border-radius: 20px;
}

.title-contents > h3{
 font-size: 28px;
 font-family: 游ゴシック;
 margin: 0;
}

.title-contents > span {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 30px;
 }

 .title-contents > p {
  font-size: 16px;
  margin: 30px;
 }

 #section-5 {
  width: 100%;
  height: 203px;
  margin-bottom: 120px;
 }

 #section-5 > div {  
  display: block;
  /* background-color: blue; */
  width: 860px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
 }
 
 #section-5 > div > h3 {
  font-size: 32px;
  margin-bottom: 8px;
 }

 #section-5 > div > p {
  font-size: 18px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
 }

 #section-5 > div > a {
  font-size: 28px;
  font-weight: bolder; 
  display: block;
  background-color: #ff2a2a;  
  color: #ffffff; 
  text-align: center;
  border-radius: 40px;
  padding: 15px;
  margin-top: 40px;
  text-decoration: none;
 }

  /*hover状態で「無料体験に申し込む」が赤に */
  #section-5 > div > a:hover {
  color: #ff2a2a;
  background-color: #ffffff; 
  border: solid 3px #ff2a2a;  
  }

/* ここからfooter */


#footer {
  background-color: #e8e8e8;
  width: 100%;
  height: 340px;
  margin: 0;
}

#footer-div {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-around;
}

.footer-menu {
  padding: 20px;
  margin: 20px;
}

.delete {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0;
}

.delete > li {
  font-size: 14px;
  margin-bottom: 5px;
}

.delete > li > a {
  text-decoration: none;
  color: black;
}

.delete > li > a:hover{
  color: rgb(135, 131, 131);
}

.footer-menu > p {
  font-size: 15px;
  font-weight: bolder;  
  letter-spacing: 1.6px;
}

#copyright {
  display: block;
  text-align: center;
  font-size: 10px;
  
} 

