html {
    font-family: "游ゴシック";
    
}



/* ここからheader */

header {
  display: flex;
  justify-content: space-between;
  position: relative;
}


/* BBB英会話スクールのロゴ */
#logo-BBB {
  width: 150px; 
  position:absolute;  
  top: 50px;
  left: 40px;
  
}

/* ハンバーガーメニューの三本線のロゴ */
#logo-menu {
  position:absolute;  
  top: 0;
  right: 0;
  width: 140px   
}

#nav-menu { 
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 100;
  }

  

  #logo-BBB-white {
    width: 150px;
  }

/* ☓マークのロゴ */
  #close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 70px;  
  }



  #menu {
    display: block;
    list-style: none;
    color: white;
    text-align: center;
    font-family: "游ゴシック";
    font-size: 25px;
    font-weight: bold;
    
  }

  .menu-list {
    margin: 20px;
  }
   


/* ここからbody */

  




/* ここからfooter */

.flexbox-container {
    display: flex;
    justify-content: center;
}

.flexbox-item {
    padding: 20px;
    margin: 20px;
}

.delete {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}

#copyright {
    margin: 0 auto;    
    text-align: center;
}